<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} {% endblock title %} | Jeetu ice creams</title>

    <style media="screen">
    .btn-1{
margin: 20px;
float: right;
}

.footer-bg{
background-color: #616161;
text-align:center;
padding: 7% 15%;
}

.btn-footer{
padding: 3%;
}

.social-icons{
margin: 2px;
color: #fff;
}

.w3-hover-black:hover {
  color: #fff;
  background-color: #000;
}
    </style>

  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
<section id="Home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Travell.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/services1">Couple package</a>
          <a class="dropdown-item" href="/services1">family package</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/services1">Bachlor package</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</section>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
  <strong>Welcome {{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}


    {% block body %} {% endblock body %}


    <section id="footer">

  <div class="footer-bg w3-hover-black">
    <div class="btn-footer">
      <a href="#Home"><button type="button" class="btn btn-light"><i class="fas fa-arrow-up"></i> <strong>To the top</strong></button></a>
    </div>

      <a href="https://www.facebook.com/jitu.patel.99811"><i class="social-icons fab fa-facebook-square w3-hover-opacity"></i></a>
      <a href="#"><i class="social-icons fab fa-snapchat w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/jeetu_oi/"><i class="social-icons fab fa-instagram w3-hover-opacity"></i></a>
      <a href="#"><i class="social-icons fab fa-pinterest w3-hover-opacity"></i></a>
      <a href="https://twitter.com/Jitendr82608564"><i class="social-icons fab fa-twitter w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/jitendra-patel-94b8b3193/"><i class="social-icons fab fa-linkedin w3-hover-opacity"></i></a>

  </div>

</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
